<div id="pan-navi" class="clearfix">
    <ol>
        <li class="arrow"><%= link_to "HOME", root_path %></li>
        <li><strong>投資家ブログランキング</strong></li>
    </ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

    <!--content-box-->
    <div id="content-box" class="clearfix">

        <!--main-->
        <article id="main" class="clearfix">

            <section class="blog-rank">

                <div class="title-bar">
                    <h1><img src="./img/title-bar-blog-rank-investor.png" alt="投資家ブログランキング" /></h1>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th class="t-width-100">順位</th>
                            <th>ブログ名/最新記事</th>
                            <th class="t-width-100">Pt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% @blogs.each do |blog| %>
                                <td class="rank">1位</td>
                                <td>
                                    <dl>
                                        <dt><%= link_to blog.title, blog.url %></dt>
                                        <dd><span>2013/06/20 16:05</span><a href="" target="_blank">大引け概況</a></dd>
                                        <dd><span>2013/06/20 16:05</span><a href="" target="_blank">大引け概況</a></dd>
                                        <dd><span>2013/06/20 16:05</span><a href="" target="_blank">大引け概況</a></dd>
                                    </dl>
                                </td>
                                <td>42157</td>
                            <% end %>
                        </tr>

                    </tbody>

                </table>
                <%= will_paginate(@blogs, :prev_label=>'&#171;前', :next_label=>'次&#187;') %>
            </section>

            <section>
                <div class="form-rank">
                    <h2>投資家ブログランキングの参加</h2>
                    <div class="clearfix">
                        <p>当サイトへのブログランキングは、まずリンクをサイトのTOPページに貼って頂き下記のフォームよりURLを入力することで参加が完了致します。</p>

                        <h3>リンク方法</h3>
                        <dl class="link-method clearfix">
                            <dt class="text-link">テキストリンク</dt>
                            <dd><input type="text" name="" value="&lt;a href=&quot;http://株価予想.jpn.ocm/&quot; target=&quot;_blank&quot;&gt;株価予想ナビ&lt;/a&gt;" /></dd>
                            <dt class="image-link">イメージリンク</dt>
                            <dd><input type="text" name="" value="&lt;a href=&quot;http://株価予想.jpn.ocm/&quot; target=&quot;_blank&quot;&gt;&lt;img src=&quot;画像URL&quot; /&gt;&lt;/a&gt;" /></dd>
                        </dl>
                        <% @report = Report.new %>
                        <%= form_for(@report) do |f| %>
                            <h3>リンク反映方法</h3>
                            <p>リンクの設置が完了致しましたら、お手数でございますが下記のフォームより当サイトのURLを入力してリンクの設置報告を宜しくお願い致します。</p>
                            <dl class="link-reflection clearfix">
                                <dt><label for="form-rank-url">URL</label></dt>
                                <dd><%= f.text_field :contents, id: "form-rank-url" %></dd>
                                <dd><%= f.hidden_field :report_type, value: 1 %></dd>
                                <dd>
                                    <%= f.submit %>

                                    <input type="image" src="./img/button-report.png" value="報告する" alt="報告する" onMouseOver="this.src='./img/button-report-on.png'" onMouseOut="this.src='./img/button-report.png'" />
                                </dd>
                            </dl>
                        <% end %>

                        <p>※リンク設置後、下記ツールで『OK』がでればリンク設置に関して問題ありません。</p>
                    </div>
                </section>

            </article>