<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @blog.url %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Describe:</b>
  <%= @blog.describe %>
</p>

<p>
  <b>In:</b>
  <%= @blog.in %>
</p>

<p>
  <b>Out:</b>
  <%= @blog.out %>
</p>

<p>
  <b>Week in:</b>
  <%= @blog.week_in %>
</p>

<p>
  <b>Month in:</b>
  <%= @blog.month_in %>
</p>

<p>
  <b>Image:</b>
  <%= @blog.image %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
