

<!--pan-navi-->
<div id="pan-navi" class="clearfix">
    <ol>
        <li class="arrow"><%= link_to "HOME", root_path %></li>
        <li class="arrow"><%= link_to "投資顧問一覧", consultants_path %></li>
        <li><strong><%= @consultant.title %></strong></li>
    </ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

    <!--content-box-->
    <div id="content-box" class="clearfix">

        <!--main-->
        <article id="main" class="clearfix">

            <div class="title-bar">
                <h1><%= @consultant.title %></h1>
            </div>

            <div class="toushikomon-data clearfix">

                <div>
                    <dl class="clearfix">
                        <dt>会社名</dt>
                        <dd>株式会社 アイリンクインベストメント</dd>
                        <dt>サイト名</dt>
                        <dd><%= @consultant.site_name %></dd>
                        <dt>URL</dt>
                        <dd><%= @consultant.url %></dd>
                        <dt>所在地 </dt>
                        <dd><%= @consultant.place %></dd>
                        <dt>責任者名</dt>
                        <dd><%= @consultant.person %></dd>
                        <dt>電話番号</dt>
                        <dd><%= @consultant.phone %></dd>
                        <dt>金商</dt>
                        <dd><%= @consultant.kinsyo %></dd>
                    </dl>

                </div>

                <img src="./img/thumbnail-big.png" alt="アイリンクインベストメント" />

            </div>

            <section class="toushikomon-dis">
                <h2><%= @consultant.title %>の特徴と料金体系</h2>
                <p>
                    <%= @consultant.contents %>
                </p>
            </section>

            <section class="toushikomon-review">
                <h2><%= @consultant.title %>の口コミ</h2>

                <ul class="toushikomon-review-list-box">
                    <%= @consultant.comments.each do |comment| %>
                        <li class="toushikomon-review-list clearfix">
                            <dl class="clearfix">
                                <dt><%= comment.sender %></dt>
                                <dd><%= complete_time(comment.created_at) %></dd>
                            </dl>
                            <p><%= comment.contents %></p>
                        </li>
                    <% end %>
                </ul>


         



                <div class="from-write">
                    <h3>口コミを書き込みする</h3>
                    <div class="clearfix">
                        <% @comment = Comment.new %>
                        <%= form_for(@comment) do |f| %>
                            <dl class="clearfix">
                                <dt><label for="form-stock-name">お名前</label></dt>
                                <%= f.hidden_field :consultant_id, value: @consultant.id %>
                                <dd><%= f.text_field :sender, class: "field_wide", id: "form-stock-name"  %></dd>
                            </dl>
                            <p><%= f.text_area :contents, rows: "4", class: "field_wide" %></p>
                            <ul>
                                <li><input type="checkbox" /><a href="./kiyaku.html">利用規約</a>に同意して書き込む</li>
                                <li>
                                    <%= f.submit "投稿", class: "btn_primary" %>
                                </li>
                            </ul>
                        <% end %>
                    </div>
                </div>

            </section>

        </article>
        <!--//main-->






<p>
  <b>Rate:</b>
  <%= @consultant.rate %>
</p>

<p>
  <b>Info:</b>
  <%= @consultant.info %>
</p>

<p>
  <b>Regist:</b>
  <%= @consultant.regist %>
</p>


<%= link_to 'Edit', edit_consultant_path(@consultant) %> |
<%= link_to 'Back', consultants_path %>
