<%= form_for(@glossary) do |f| %>
  <% if @glossary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glossary.errors.count, "error") %> prohibited this glossary from being saved:</h2>

      <ul>
      <% @glossary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, {"あ" => 0, "か" => 1, "さ" => 2, "た" => 3, "な" => 4, "は" => 5, "ま" => 6, "や" => 7, "ら" => 8, "わ" => 9, "英数字" => 10} %>
  </div>
  <div class="field">
    <%= f.label :contents %><br />
    <%= f.text_area :contents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
