【記事一覧】<br>
<% Piece.all.each do |piece|%>

  タイトル:<%= piece.title %>:<%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<% end %>
<%= form_for @piece, url: {action: 'create_piece'} do |f| %>
  <table class="inquiry_table">
    <tr>
      <td class="colum">タイトル</td>
      <td><%= f.text_field :title, size: 60 %></td>
    </tr>
    <tr class="text">
      <td class="colum">内容</td>
      <td><%= f.text_area :contents, size: "60x20" %></td>
    </tr>
  </table>
  <%= f.submit "pieceを更新", class: "submit" %>
<% end %>