<div id="stock_hot_container">
  <%= image_tag("welcome_hot.jpg")%>
  <div id="stock_hot">
    <div id="yahoo_update">
      <% updated_time = (Stock.pluck(:updated_at).sort {|a, b| b <=> a }[200] + 32400) %><%= update_time(updated_time) %>更新・値動き（yahooファイナンスより）

    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="30px"></th>
          <th width="150px">銘柄</th>
          <th width="50px">市場</th>
          <th width="60px">株価</th>
          <th width="60px">前日終値</th>
          <th width="60px">出来高</th>
          <th width="60px">始値</th>
          <th width="60px">高値</th>
          <th width="60px">安値</th>
          <th>掲示板</th>
        </tr>
      </thead>
      <tbody>
        <% @codes.each.with_index(1) do |code,i| %>
          <% if Stock.find_by_code(code) %>
          <% stock = Stock.find_by_code(code) %>
            <tr>
              <td><%= stock.code %></td>
              <td><%= link_to stock.name, stock_path(stock.id) %></td>
              <td><%= stock.market %></td>
              <td><%= stock.price %></td>
              <td><%= stock.previousprice %></td>
              <td><%= stock.volume %></td>
              <td><%= stock.opening %></td>
              <td><%= stock.high %></td>
              <td><%= stock.low %></td>
              <td>
                <% board = Board.find_by_stock_id(stock.id) %>
                <% if board %>
                  <%= link_to '掲示板へ', board %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="welcome_index_box">
  <%= image_tag("welcome_summary.jpg")%>
  <div class="box">
    <div class="clearfix">
      <div id="info_table">
        <table class="">
          <tr><td>日経平均株価</td><td class="font_blod stock_table_td_align"><%= @summary[0].price %> <%= @summary[0].comparison %></td></tr>
          <tr><td>NYダウ</td><td class="stock_table_td_align"><%= @summary[1].price %> <%= @summary[1].comparison %></td></tr>
          <tr><td>香港ハンセン</td><td class="stock_table_td_align"><%= @summary[2].price %> <%= @summary[2].comparison %></td></tr>
          <tr><td>FTSE</td><td class="stock_table_td_align"><%= @summary[3].price %> <%= @summary[3].comparison %></td></tr>
        </table>
      </div>
      <div id="stock_chart_box">
        <%= image_tag("http://gchart.yahoo.co.jp/s?s=998407.O", widht: 40) %>
      </div>
    </div>
  </div>
</div>
<div class="welcome_index_box">
  <%= image_tag("welcome_top50.jpg")%>
  <div class="box clearfix">
    <div class="stream_box">
      <div class="stream">
        <div class="contents">
          <table class="stock_table">
            <tr>
              <td width="30px">順位 </td>
              <td width="40px">コード</td>
              <td width="150px">銘柄</td>
              <td width="50px">現在値</td>
              <td width="50px" class="plus">前日比</td>
            </tr>
            <% @up.each do |tds| %>
              <tr>
                <% tds.each.with_index(1) do |td, i| %>
                  <td class="<%= "plus" if i%5 == 0 %>"><%= truncate(td, length: 13) %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
    <div class="stream_box_2">
      <div class="stream">
        <div class="contents">
          <table class="stock_table">
            <tr>
              <td width="30px">順位 </td>
              <td width="40px">コード</td>
              <td width="150px">銘柄</td>
              <td width="50px">現在値</td>
              <td width="50px" class="minus">前日比</td>
            </tr>
            <% @down.each do |tds| %>
              <tr>
                <% tds.each.with_index(1) do |td, i| %>
                  <td class="<%= "minus" if i%5 == 0 %>"><%= truncate(td, length: 13) %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="welcome_index_box">
  <%= image_tag("welcome_news.jpg")%>
  <div class="box">
    <% @news.each do |news| %>
      <%= link_to news.word ,news.link %>　　<%= news.newsdate %><br><br>
    <% end %>
  </div>
</div>