<!--content-->
<div id="content" class="clearfix">

	<!--content-box-->
	<div id="content-box" class="clearfix">

		<!--main-->
		<section id="main" class="clearfix">

			<div class="title-bar">
				<h2><img src="./img/title-bar-index.png" alt="注目銘柄" /></h2>
				<p>2013/6/12 15:00</p>
			</div>

			<p class="title-dis">
				注目銘柄ランキングは、2013/6/12 15:00 現在「2chの株スレッド」「Yahoo!textream」の両方でもっとも盛り上がっている銘柄のランキングです。
			</p>

			<ul class="soucial-botton clearfix">
				<li>
					<iframe src="http://www.facebook.com/widgets/like.php?href=http://deai-apps.jp/archive/waplog.html&layout=button_count" scrolling="no" frameborder="0" style="border:none; width:100px; height:20px" title="facebook いいね"></iframe>
				</li>
				<li class="tweet">
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="URL" data-text="株価予想NAVI" data-count="horizontal" data-via="deaiapps" data-lang="ja">ツイート</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</li>
				<li class="hatena">
					<a href="http://b.hatena.ne.jp/entry/http://deai-apps.jp/archive/%e3%83%89%e3%82%ad%e3%83%89%e3%82%ad%e3%83%89%e3%83%a9%e3%82%a4%e3%83%96.html" class="hatena-bookmark-button" data-hatena-bookmark-title=" &raquo; ドキドキドライブ！ドライブ相手を探せる" data-hatena-bookmark-layout="standard"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
				</li>
				<li class="puls1">
				</li>
			</ul>

			<nav>
				<dl class="brand-sort">
					<dt>注目銘柄ソート</dt>
					<dd class="clearfix">
						<ul class="corners gradation">
							<li class="brand-sort-1 on"><a href="./index.html">注目銘柄</a></li>
							<li class="brand-sort-2"><a href="./brand-2ch.html">2ch注目銘柄</a></li>
							<li class="brand-sort-3"><a href="./brand-yahoo.html">Yahoo注目銘柄</a></li>
						</ul>
					</dd>

					<dt>銘柄株価別ソート</dt>
					<dd class="clearfix">
						<ul class="corners gradation">
							<li class="brand-sort-4"><a href="./brand-stock-up.html">値上がり銘柄</a></li>
							<li class="brand-sort-5"><a href="./brand-stock-down.html">値下がり銘柄</a></li>
							<li class="brand-sort-6"><a href="./brand-volume-up.html">出来高増加</a></li>
							<li class="brand-sort-7"><a href="./brand-volume-down.html">出来高減少</a></li>
							<li class="brand-sort-8"><a href="./brand-credit-buy-up.html">信用買増加</a></li>
							<li class="brand-sort-9"><a href="./brand-credit-buy-down.html">信用買減少</a></li>
							<li class="brand-sort-10"><a href="./brand-credit-sell-up.html">信用売増加</a></li>
							<li class="brand-sort-11"><a href="./brand-credit-sell-down.html">信用売減少</a></li>
						</ul>
					</dd>
				</dl>
			</nav>

			<div class="brand-rank">
				<table>
					<thead>
						<tr>
							<th class="t-width-30">順位</th>
							<th class="t-width-40">コード</th>
							<th class="t-width-130">銘柄名</th>
							<th class="t-width-40">市場</th>
							<th class="t-width-70">株価</th>
							<th class="t-width-70">株価<br />前日比</th>
							<th class="t-width-70">出来高</th>
							<th class="t-width-70">出来高<br />前日比</th>
							<th class="t-width-70">信用買残</th>
							<th class="t-width-70">信用売残</th>
							<th class="t-width-50">2ch</th>
							<th class="t-width-50">Yahoo</th>
						</tr>
					</thead>
					<tbody>

						<tr>
							<td>1</td>
							<td>8515</td>
							<td class="brand-name"><a href="./brand.html">ガンホーオンラインエンターテイメント</a></td>
							<td>JQ</td>
							<td>1,262,000</td>
							<td><span class="up">+12,000<br />(+0.96%)</span></td>
							<td>27,508</td>
							<td><span class="down">-8,908<br />(-4.19倍)</span></td>
							<td>30,367<br /><span class="down">(-6,352倍)</span></td>
							<td>0<br /><span>(0倍)</span></td>
							<td class="corners gradation"><a href="./brand.html#page2">105</a></td>
							<td class="corners gradation"><a href="./brand.html#page3">65</a></td>
						</tr>

						<% @stocks.each do |stock| %>
							<tr>
								<td>1</td>
								<td><%= stock.code %></td>
								<td class="brand-name">
									<%= link_to stock.name, stock_path(stock) %>
								</td>
								<td>
									<%= stock.market %>
								</td>
								<td>
									<%= stock.price %>
								</td>
								<td><span class="up">+12,000<br />(+0.96%)</span></td>
								<td>
									<%= stock.volume %>
								</td>
								<td><span class="down">-8,908<br />(-4.19倍)</span></td>
								<td>30,367<br /><span class="down">(-6,352倍)</span></td>
								<td>0<br /><span>(0倍)</span></td>
								<td class="corners gradation"><a href="./brand.html#page2">105</a></td>
								<td class="corners gradation"><a href="./brand.html#page3">65</a></td>
							</tr>
						<% end %>

					</tbody>

				</table>
			</div>

			<ul class="pn-navi clearfix">
				<li><a href="">&lt;&lt;前へ</a></li>
				<li class="current"><span>1</span></li>
				<li class="number"><a href="">2</a></li>
				<li class="number"><a href="">3</a></li>
				<li class="number"><a href="">4</a></li>
				<li class="number"><a href="">5</a></li>
				<li class="number"><a href="">6</a></li>
				<li class="number"><a href="">7</a></li>
				<li class="number"><a href="">8</a></li>
				<li class="number"><a href="">9</a></li>
				<li><a href="">次へ&gt;&gt;</a></li>
			</ul>

		</section>