<!--content-->
<div id="content" class="clearfix">

	<!--content-box-->
	<div id="content-box" class="clearfix">

		<!--main-->
		<section id="main" class="clearfix">

			<div class="title-bar">
				<h2><img src="./img/title-bar-index.png" alt="注目銘柄" /></h2>
				<p>2013/6/12 15:00</p>
			</div>

			<p class="title-dis">
				注目銘柄ランキングは、2013/6/12 15:00 現在「2chの株スレッド」「Yahoo!textream」の両方でもっとも盛り上がっている銘柄のランキングです。
			</p>

			<ul class="soucial-botton clearfix">
				<li>
					<iframe src="http://www.facebook.com/widgets/like.php?href=http://deai-apps.jp/archive/waplog.html&layout=button_count" scrolling="no" frameborder="0" style="border:none; width:100px; height:20px" title="facebook いいね"></iframe>
				</li>
				<li class="tweet">
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="URL" data-text="株価予想NAVI" data-count="horizontal" data-via="deaiapps" data-lang="ja">ツイート</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
				</li>
				<li class="hatena">
					<a href="http://b.hatena.ne.jp/entry/http://deai-apps.jp/archive/%e3%83%89%e3%82%ad%e3%83%89%e3%82%ad%e3%83%89%e3%83%a9%e3%82%a4%e3%83%96.html" class="hatena-bookmark-button" data-hatena-bookmark-title=" &raquo; ドキドキドライブ！ドライブ相手を探せる" data-hatena-bookmark-layout="standard"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
				</li>
				<li class="puls1">
				</li>
			</ul>

			<nav>
				<dl class="brand-sort">
					<dt>注目銘柄ソート</dt>
					<dd class="clearfix">
						<ul class="corners gradation">
							<li class="brand-sort-1 on"><a href="./index.html">注目銘柄</a></li>
							<li class="brand-sort-2"><a href="./brand-2ch.html">2ch注目銘柄</a></li>
							<li class="brand-sort-3"><a href="./brand-yahoo.html">Yahoo注目銘柄</a></li>
						</ul>
					</dd>

					<dt>銘柄株価別ソート</dt>
					<dd class="clearfix">
						<ul class="corners gradation">
							<li class="brand-sort-4">
								<%= link_to "値上がり銘柄", root_path(sort_by: :price, order: :desc) %>
							</li>
							<li class="brand-sort-5">
								<%= link_to "値下がり銘柄", root_path(sort_by: :price, order: :asc) %>
							</li>
							<li class="brand-sort-6">
								<%= link_to "出来高増加", root_path(sort_by: :volume, order: :desc) %>
							</li>
							<li class="brand-sort-7">
								<%= link_to "出来高減少", root_path(sort_by: :volume, order: :asc) %>
							</li>
							<li class="brand-sort-8">
								<%= link_to "信用買増加", root_path(sort_by: :margin_buy, order: :desc) %>
							</li>
							<li class="brand-sort-9">
								<%= link_to "信用買減少", root_path(sort_by: :margin_buy, order: :asc) %>
							</li>
							<li class="brand-sort-10">
								<%= link_to "信用売増加", root_path(sort_by: :margin_sale, order: :desc) %>
							</li>
							<li class="brand-sort-11">
								<%= link_to "信用売減少", root_path(sort_by: :margin_sale, order: :asc) %>
							</li>
						</ul>
					</dd>
				</dl>
			</nav>

			<div class="brand-rank">
				<table>
					<thead>
						<tr>
							<th class="t-width-30">順位</th>
							<th class="t-width-40">コード</th>
							<th class="t-width-130">銘柄名</th>
							<th class="t-width-40">市場</th>
							<th class="t-width-70">株価</th>
							<th class="t-width-70">株価<br />前日比</th>
							<th class="t-width-70">出来高</th>
							<th class="t-width-70">出来高<br />前日比</th>
							<th class="t-width-70">信用買残</th>
							<th class="t-width-70">信用売残</th>
							<th class="t-width-50">2ch</th>
							<th class="t-width-50">Yahoo</th>
						</tr>
					</thead>
					<tbody>
						<% @stocks.each.with_index(1) do |stock, i| %>
							<tr>
								<td><%= i +  @page.to_i * 30 %></td>
								<td><%= stock.code %></td>
								<td class="brand-name">
									<%= link_to stock.name, stock_path(stock) %>
								</td>
								<td>
									<%= stock.market %>
								</td>
								<td>
									<%= stock.price %>
								</td>
								<td><%= compare(stock.previousprice, stock.price) %><br /></td>
								<td>
									<%= stock.volume %>
								</td>
								<td><%= compare(stock.previousvolume, stock.volume) %><br />
									<% if false %>
										(-4.19倍)
									<% end %>
								</td>
								<td><%= stock.margin_buying %><br />
									<% if false %>
										<span class="down">(-6,352倍)</span>
									<% end %>
								</td>
								<td><%= stock.margin_selling %><br />
									<% if false %>
										<span>(0倍)</span>
									<% end %>
								</td>
								<td class="corners gradation"><a href="./brand.html#page2">105</a></td>
								<td class="corners gradation"><a href="./brand.html#page3">65</a></td>
							</tr>
						<% end %>

					</tbody>

				</table>
			</div>
			<%= will_paginate(@stocks, :prev_label=>'&#171;前', :next_label=>'次&#187;') %>

		</section>