<STYLE type="text/css">
#site-box { width : 688px ; }

h2{
padding: 0 5px 0 35px;
margin-bottom:10px;
line-height:37px;
font-size: 14px;
font-weight: bold;
color:#a88046;
background-image:url(syouken-images/h2bg.jpg); background-repeat:no-repeat;
}


table#table-01 {
    width: 675px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#table-01 th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #9da0d1;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table#table-01 td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
}

table#table-02 {
    width: 675px;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
}

table#table-02 th {
    padding: 5px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #F5F5F5;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
table#table-02 td {
    padding: 5px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: center;
}



</STYLE>
  <DIV id="site-box">
    <H2>人気の証券会社ランキング</H2>
    <P align="center"> <FONT color="#ff0000" 
size="+1"><STRONG>個人投資家が選ぶ満足度No1のネット証券ベスト３ </STRONG></FONT> </P>
    <P align="left"> <FONT color="#000000" 
size="-1">取引手数料、使い易さ、提供情報量、ツールの豊富さ、システムの安定度、サポート体制、総合的に最も満足できる証券会社をピックアップ！株の初心者から投資上級者まで、個人投資家が最も満足できる証券会社をご紹介！ </FONT> </P>
    <H3 style='width: 675px; height: 41px; color: rgb(255, 255, 255); padding-top: 17px; padding-left: 50px; margin-bottom: 0px; background-image: url("syouken-images/rank1.jpg"); background-repeat: no-repeat;'> GMOクリック証券</H3>
    <TABLE id="table-01">
      <TBODY>
        <TR>
          <TD>
            <%= image_tag('syouken-images/sbi.jpg', {width: "637px", height: "458px"})%>
          </TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <P align="left"> <FONT color="#666666" size="-1"> <STRONG> 手数料一覧（1約定あたり） </STRONG> </FONT> </P>
    <TABLE id="table-01">
      <TBODY>
        <TR>
          <TH><FONT color="#ffffff">約定20万円</FONT></TH>
          <TH><FONT color="#ffffff">約定50万円</FONT></TH>
          <TH><FONT color="#ffffff">約定100万円</FONT></TH>
          <TH><FONT color="#ffffff">約定300万円</FONT></TH>
        </TR>
        <TR>
          <TD>194円</TD>
          <TD>285円</TD>
          <TD>511円</TD>
          <TD>967円</TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <TABLE id="table-02">
      <TBODY>
        <TR>
          <TH>現在の口座開設キャンペーン</TH>
        </TR>
        <TR>
          <TD><P align="left"><FONT color="#000000" size="-1">各種お取引で最大現金8,100円のチャンス！　　　　7/31まで </FONT> </P></TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <TABLE id="table-02">
      <TBODY>
        <TR>
          <TH>SBI証券の一押しポイント</TH>
        </TR>
        <TR>
          <TD><P align="left"><FONT color="#000000" size="-1">新規IPOに強い。信用取引対応の銘柄が豊富。日本市場時間外のPTS取引もSBIならでは。 </FONT> </P></TD>
        </TR>
      </TBODY>
    </TABLE>
    <P align="center">
      <A href="https://www.sbisec.co.jp/">
      <%= image_tag('syouken-images/sbi_button.jpg', {width: "305px", height: "39px"})%>
      </A>
    </P>
    <BR>
    <H3 style='width: 675px; height: 41px; color: rgb(255, 255, 255); padding-top: 17px; padding-left: 50px; margin-bottom: 0px; background-image: url("syouken-images/rank2.jpg"); background-repeat: no-repeat;'> GMOクリック証券</H3>
    <TABLE id="table-01">
      <TBODY>
        <TR>
          <TD><%= image_tag('syouken-images/gmo.jpg', {width: "637px", height: "458px"})%></TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <P align="left"> <FONT color="#666666" size="-1"> <STRONG> 手数料一覧（1約定あたり） </STRONG> </FONT> </P>
    <TABLE id="table-01">
      <TBODY>
        <TR>
          <TH><FONT color="#ffffff">約定20万円</FONT></TH>
          <TH><FONT color="#ffffff">約定50万円</FONT></TH>
          <TH><FONT color="#ffffff">約定100万円</FONT></TH>
          <TH><FONT color="#ffffff">約定300万円</FONT></TH>
        </TR>
        <TR>
          <TD>105円</TD>
          <TD>260円</TD>
          <TD>470円</TD>
          <TD>900円</TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <TABLE id="table-02">
      <TBODY>
        <TR>
          <TH>現在の口座開設キャンペーン</TH>
        </TR>
        <TR>
          <TD><P align="left"><FONT color="#000000" size="-1">口座開設＋取引１回以上でamazonギフト券2000円分プレゼント　　　　7/31まで </FONT> </P></TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <TABLE id="table-02">
      <TBODY>
        <TR>
          <TH>GMOクリック証券の一押しポイント</TH>
        </TR>
        <TR>
          <TD><P align="left"><FONT color="#000000" size="-1">手数料が安い。スマフォアプリの使い易さが人気。信用取引対応の銘柄が豊富。 </FONT> </P></TD>
        </TR>
      </TBODY>
    </TABLE>
    <P align="center"> <A href="https://www.click-sec.com/corp/kouza/entry/?form=kabu"><%= image_tag('syouken-images/gmo_button.jpg', {width: "305px", height: "39px"})%></A> </P>
    <BR>
    <H3 style='width: 675px; height: 41px; color: rgb(255, 255, 255); padding-top: 17px; padding-left: 50px; margin-bottom: 0px; background-image: url("syouken-images/rank3.jpg"); background-repeat: no-repeat;'> GMOクリック証券</H3>
    <TABLE id="table-01">
      <TBODY>
        <TR>
          <TD><%= image_tag('syouken-images/manex.jpg', {width: "637px", height: "458px"})%></TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <P align="left"> <FONT color="#666666" size="-1"> <STRONG> 手数料一覧（1約定あたり） </STRONG> </FONT> </P>
    <TABLE id="table-01">
      <TBODY>
        <TR>
          <TH><FONT color="#ffffff">約定20万円</FONT></TH>
          <TH><FONT color="#ffffff">約定50万円</FONT></TH>
          <TH><FONT color="#ffffff">約定100万円</FONT></TH>
          <TH><FONT color="#ffffff">約定300万円</FONT></TH>
        </TR>
        <TR>
          <TD>189円</TD>
          <TD>472円</TD>
          <TD>1050円</TD>
          <TD>3150円</TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <TABLE id="table-02">
      <TBODY>
        <TR>
          <TH>現在の口座開設キャンペーン</TH>
        </TR>
        <TR>
          <TD><P align="left"><FONT color="#000000" size="-1">新規口座開設＆各種取引＆友達紹介で最大36000円プレゼント　　　　6/30まで </FONT> </P></TD>
        </TR>
      </TBODY>
    </TABLE>
    <BR>
    <TABLE id="table-02">
      <TBODY>
        <TR>
          <TH>マネックス証券の一押しポイント</TH>
        </TR>
        <TR>
          <TD><P align="left"><FONT color="#000000" size="-1">新規IPOに強い。キャンペーンが豊富。低価格の約定金額ならば手数料が他社より安い。</FONT></P></TD>
        </TR>
      </TBODY>
    </TABLE>
    <P align="center"> <A href="http://www.monex.co.jp/"><%= image_tag('syouken-images/manex_button.jpg', {width: "305px", height: "39px"})%></A> </P>
    <BR>
  </DIV>