<div class="stock_container">
  <% stock = @stock %>
  <div class="stock_topic">
    <h1>[<%= stock.code %>]&nbsp;<%= stock.name %></h1>
    <h2><%= stock.market %>&nbsp;<%= stock.industry %></h2>
    <h3></h3>
  </div>
  <div id="stock_info" class="clearfix">
    <div id="stock_table">
      <table class="">
        <tr><td>現在株価</td><td class="font_blod stock_table_td_align"><%= stock.price %></td></tr>
        <tr><td>前日比</td><td class="stock_table_td_align"><%= compare(stock.previousprice, stock.price) %></td></tr>
        <tr><td>前日終値</td><td class="stock_table_td_align"><%= stock.previousprice %></td></tr>
        <tr><td>始値</td><td class="stock_table_td_align"><%= stock.opening %></td></tr>
        <tr><td>高値</td><td class="stock_table_td_align"><%= stock.high %></td></tr>
        <tr><td>安値</td><td class="stock_table_td_align"><%= stock.low %></td></tr>
        <tr><td>出来高</td><td class="stock_table_td_align"><%= stock.volume %></td></tr>
      </table>
    </div>
    <div id="stock_chart_box">
      <%= image_tag(stock.chart)%>
    </div>
  </div>
  <% if false %><%= image_tag('stock_pickup.jpg')%><% end %>
  <div class="twitter_stream">
    <div class="topic_img">
      <%= image_tag 'stock_blog.jpg', width: "678px"%>
      <h2>[6556]&nbsp;<%= stock.name %>に関する投資家ブログ情報</h2>
    </div>
    <div class="tweet">

    </div>
  </div>
  <% if @twitter %>
    <div class="twitter_stream">
      <div class="topic_img">
        <%= image_tag 'stock_twitter.jpg', width: "678px"%>
        <h2>[6556]&nbsp;<%= stock.name %>に関するtwitterのつぶやき</h2>
      </div>
      <div class="tweet">
        <div class="tweet_pack">
          <% @twitter.each do |item| %>
            <div class="item clearfix">
              <div class="image"><%= item[0].html_safe %></div>
              <div class="contents">
                <span class="send"><%= item[1].html_safe %></span>
                <%= item[2] %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="twitter_stream">
    <div class="topic_img">
      <%= image_tag 'stock_borad.jpg', width: "678px"%>
      <h2>[6556]&nbsp;<%= stock.name %>の当サイトの掲示板</h2>
    </div>
    <div class="tweet">

    </div>
  </div>
  <% if false %><%= image_tag('stock_2ch.jpg')%><% end %>
  <div class="twitter_stream">
    <div class="topic_img">
      <%= image_tag 'stock_2ch2.jpg', width: "678px"%>
      <h2>[6556]&nbsp;<%= stock.name %>に関する個別銘柄板</h2>
    </div>

  </div>
  <% if @yahoo %>
    <div class="twitter_stream">
      <div class="topic_img">
        <%= image_tag 'stock_textream.jpg', width: "678px"%>
        <h2>[6556]&nbsp;<%= stock.name %>に関するYahoo株式textream</h2>
      </div>
      <div class="tweet">
        <div class="yahoo">
          <% @yahoo.each do |item| %>
            <div class="contribution">
              <h2 class="title"><%= item[0] %></h2>
              <div class="send">
                <%= item[1] %>　<span class="time"><%= item[2] %></span>　<%= item[3] %>
              </div>
              <%= item[4].html_safe %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>