<div id="pan-navi" class="clearfix">
	<ol>
		<li class="arrow"><%= link_to "HOME", root_path %></li>
		<li class="arrow"><a href="./toushikomon-list.html">投資顧問一覧</a></li>
		<li><strong>投資顧問口コミ</strong></li>
	</ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

	<!--content-box-->
	<div id="content-box" class="clearfix">

		<!--main-->
		<article id="main" class="clearfix">

			<div class="title-bar">
				<h1><img src="./img/title-bar-toushikomon-review.png" alt="投資顧問口コミ" /></h1>
			</div>

			<ul class="toushikomon-review-list-box">

				
				<% @comments.each do |comment| %>
					<li class="toushikomon-review-list clearfix">
						<dl class="clearfix">
							<dt><%= link_to comment.consultant.title, consultant_path(comment.consultant) %>の口コミ</dt>
							<dt><%= comment.sender %></dt>
							<dd><%= complete_time(comment.created_at) %></dd>
						</dl>
						<p><%= comment.contents %></p>
					</li>
				<% end %>
			</ul>

			<%= will_paginate(@comments, :prev_label=>'&#171;前', :next_label=>'次&#187;') %>

		</article>