<div id="pan-navi" class="clearfix">
  <ol>
    <li class="arrow"><a href="./index.html">HOME</a></li>
    <li><strong>株初心者</strong></li>
  </ol>
</div>
<!--//pan-navi-->

<!--content-->
<div id="content" class="clearfix">

  <!--content-box-->
  <div id="content-box" class="clearfix">

<!--main-->
<article id="main" class="clearfix">

  <div class="title-bar">
    <h1><img src="./img/title-bar-beginner-list.png" alt="株初心者" /></h1>
  </div>

  <ul class="beginner-nav clearfix">
    <li><a href="#beginner-1">株の基本的な仕組みを知る</a></li>
    <li><a href="#beginner-2">証券会社で口座を開設する</a></li>
    <li><a href="#beginner-3">株式取引を初めてみよう</a></li>
    <li><a href="#beginner-4">チャートの見方を覚えよう</a></li>
    <li><a href="#beginner-5">株式投資で知っておきたい情報</a></li>
  </ul>

  <section id="beginner-1" class="beginner-list clearfix">
    <h2>株の基本的な仕組みを知る</h2>
    <ul>
      <% @b1.each do |b| %>
        <li>
          <%= link_to b.title, beginner_path(b) %>
        </li>
      <% end %>
    </ul>
  </section>

  <section id="beginner-2" class="beginner-list clearfix">
    <h2>証券会社で口座を開設する</h2>
    <ul>
      <% @b2.each do |b| %>
        <li>
          <%= link_to b.title, beginner_path(b) %>
        </li>
      <% end %>
    </ul>
  </section>

  <section id="beginner-3" class="beginner-list clearfix">
    <h2>株式取引を始めてみよう</h2>
    <ul>
      <% @b3.each do |b| %>
        <li>
          <%= link_to b.title, beginner_path(b) %>
        </li>
      <% end %>
    </ul>
  </section>

  <section id="beginner-4" class="beginner-list clearfix">
    <h2>チャートの見方を覚えよう</h2>
    <ul>
      <% @b4.each do |b| %>
        <li>
          <%= link_to b.title, beginner_path(b) %>
        </li>
      <% end %>
    </ul>
  </section>

  <section id="beginner-5" class="beginner-list clearfix">
    <h2>株式投資で知っておきたい情報</h2>
    <ul>
      <% @b5.each do |b| %>
        <li>
          <%= link_to b.title, beginner_path(b) %>
        </li>
      <% end %>
    </ul>
  </section>

</article>