<footer id="footer" class="clearfix">
	<ul class="clearfix">
		<li><%= link_to "HOME", root_path %></li>
		<li><%= link_to "お問合わせ", page_inquiry_path %></li>
		<li><%= link_to "利用規約", page_kiyaku_path %></li>
		<li><%= link_to "運営者情報", page_about_path %></li>
		<li><%= link_to "免責事項", page_menseki_path %></li>
		<li><%= link_to "サイトマップ", page_sitemap_path %><a href="./sitemap.html"></a></li>
	</ul>
	<div>
		<p>Copyright(c)2013 株価予想NAVI ALL Rights Reserved.</p>
	</div>
</footer>