<div id="sidebar" class="clearfix">

	<aside class="facebook-box">
		<img src="/img/facebook-likebox.png" alt="facebook likeボックス" />
	</aside>

	<section class="search-box">
		<h3><img src="/img/sidebar-brand-serach.png" alt="銘柄検索" /></h3>
		<p>銘柄名と銘柄コードで検索ができます。</p>
		<%= form_tag search_stocks_path do %>
		  <%= text_field_tag :word, "" %>
		<% end %>
	</section>
	
	<section class="search-box">
		<h3><img src="/img/sidebar-toushikomon-serach.png" alt="投資顧問検索" /></h3>
		<p>投資顧問名を検索できます。</p>
		<%= form_tag search_consultants_path do %>
		  <%= text_field_tag :word, "" %>
		<% end %>
	</section>

	<section class="rank-box">
		<h3><img src="/img/sidebar-toushikomon-rank.png" alt="投資顧問ランキングTOP3" /></h3>
		<dl>
			<% Consultant.all.each do |consultant| %>
				<dt class="rank-1"><%= link_to consultant.title, consultant_path(consultant) %></dt>
				<dd class="clearfix">
					<a href="" target="_blank"><img src="/img/thumbnail.png" alt="株マイスター" /></a>
					<ul>
						<li><span>登録</span>：完全無料</li>
						<li><span>無料情報</span>：あり</li>
						<li><span>収益率</span>：180%</li>
					</ul>
				</dd>
			<% end %>

		</dl>
	</section>

	<section class="rank-box clearfix">
		<h3><img src="/img/sidebar-review-rank.png" alt="口コミランキング" /></h3>
		<ul id="tab_menu" class="clearfix">
			<li id="tab1" class="now"><span>銘柄ランキング</span></li>
			<li id="tab2"><span>投資顧問ランキング</span></li>
		</ul>

		<dl id="tab1on" class="content">
			<% Stock.limit(5).each.with_index(1) do |stock, i| %>
				<dt class="rank-<%= i %>"><%= link_to stock.name, stock_path(stock) %></dt>
				<dd>口コミ数：<%= stock.comments.count %>件</dd>
			<% end %>
		</dl>

		<dl id="tab2on" class="content">
			<% Consultant.all.each.with_index(1) do |consultant, i| %>
				<dt class="rank-<%= i %>"><%= link_to consultant.title, consultant_path(consultant) %></dt>
				<dd>口コミ数：<%= consultant.comments.count %>件</dd>
			<% end %>
		</dl>

	</section>

	<section class="new-box">
		<h3><img src="/img/sidebar-archive-new.png" alt="新着！仕手株速報" /></h3>
		<div>
			<dl>
		    <% Piece.order("created_at DESC").limit(5).each do |piece| %>
		    	<dt><%= complete_date(piece.updated_at + 32400) %></dt>
					<dd><%= link_to piece.title, piece_path(piece.id) %></dd>
		    <% end %>
			</dl>
			<p><%= link_to "仕手株速報一覧へ", piece_index_path %></p>
		</div>
	</section>

</div>